*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 980px) {
    body {
      min-width: 600px;
    }
    header{
        min-width: 600px;
    }

    #ultimo{
        min-width: 600px;
    }

    #text-25{
        min-width: 600px;
        float: left;
    }
}

@media screen and (max-width: 480px){
    .obj-1{
        display: block;
    }
}




.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

#top-1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38px;
    margin-top: 40px;
    display: block;
    font-size: 30px;
    letter-spacing: 2.1px;
    color: rgb(255, 255, 255);
    
}


#top-2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 500px;
    margin-left: 0;
}

#under-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 8px;
    display: block;
}

#img-1{
    display: block;
    position: absolute;
    top:0;
    z-index: -1;
}


#cpf{
    margin-block: 20px; 
}

#rg{
    margin-block: 20px; 
}


.concluido{
margin-top: 20px;
}

.container-1{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

h3{
    margin: 30px;
    margin-top: 20px;
}

#going{
    width: 300px;
    margin-left: 8px;
}

#backing{
    width: 300px;
    margin-left: 8px
}

#indo{
    width: 300px;
    margin-left: 8px;
    margin: 10px;
}

#voltando{
    width: 300px;
    margin-left: 8px;
    margin: 10px;
}

#numpes{
    width: 300px;
    margin-left: 8px;
    margin: 10px;
}

#boto{
    margin-left: 8px;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    width: 100%;
    height: 200px;color: white;
    text-align: center;
}

#ultimo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 12px;
}

#text-25{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 12px;
    margin-left: 490px;
    width: 880px;
}