*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 980px) {
    body {
      min-width: 600px;
    }
    header{
        min-width: 600px;
    }

    #text-1{
        min-width: 600px;
    }

    #img-1{
        min-width: 100%;
    }
}



#text-1{
font-family:'Teko', sans-serif;
font-size: 8rem;
text-align: center;
z-index:2;
margin-top: -630px;

}

header img{
    width: 100%;
}

.sticky{
    position: sticky;
    top: 0;
}


.container{
    height: 1100px;
}
