*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (mix-width: 980px) {
    body {
      min-width: 600px;
    }
    header{
        min-width: 600px;
    }
}

@media screen and (max-width: 480px){
    .obj-1{
        min-width: 600px;
    }
}




.sticky{
    position: sticky;
    top: 0;
}

#top-1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 210px;
    font-size: 2vw;
}


#top-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-top: 270px;
    margin-left: 0;
}

#under-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    margin-left: 8px;
}

#img-1{
    position: absolute;
    top:0;
    z-index: -1;
}

.obj-1{
    width: 80vh;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 150px 150px 0px;
    position:  absolute;
    top: 250px;
    z-index: -1;
}

#cpf{
    margin-block: 20px; 
}

#rg{
    margin-block: 20px; 
}


